html {
    background: #282828;
    text-align: center;
    font-size: 10px;
  }
  
  body {
    margin: 0;
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
  }
  .clock{
    width: 30rem;
    height: 30rem;
    box-shadow :-4px -4px 10px #282828,
      inset 4px 4px 10px #000000,
      inset -4px -4px 10px #282828,
      4px 4px 10px #000000;
    border: 7px solid #282828;
    border-radius:50%;
    margin :5rem auto;
  }